// Contact

p.success {
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  color: $olive;
  font-style: italic;
}

p.failure {
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  color: $berryred;
  font-style: italic;
}