// Colors

$berryred: #BF3E43;
$honeyyellow: #F3D745;
$charcoal: #2B2A29;
$olive: #BAC158;
$lightgrey: #ddd;

// Typography

$body-text: "Libre Baskerville", serif;
$heading-text: "IM Fell French Canon SC", serif;

$body-spacing: 0px;
$heading-spacing: 3px;

// Logo Image

$logo: image-url('kosaya-photography-logo.png');

// Logo Sizes

$logo-small: 120px;
$logo-med: 250px;
$logo-large: auto;

// Shared Effect Values

$transition-speed: 0.5s;